{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">Administradores</h1>
    <h1 class="pull-right" align="right">
        <a class="btn btn-primary pull-right" style="margin-top: -10px;margin-bottom: 5px" href="{% url 'user_add' userType=userType newUserType='administrador' idCentroMedico=idCentroMedico %}">Agregar</a>
     </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Correo</th>
                                    <th>Centro Medico</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            
                            <!-- CUERPO TABLA -->
                            <tbody>
                                {%for administrador in administradores %}
                                <tr>
                                    <td>{{administrador.rut}}</td>
                                    <td>{{administrador.nombre}}</td>
                                    <td>{{administrador.apaterno}} {{administrador.amaterno}}</td>
                                    <td>{{administrador.correo}}</td>
                                    <td>{{administrador.idCentroMedico}}</td>
                                    <td>
                                        <center>
                                            <!-- BTN EDITAR -->
                                            <a href="{% url 'login' %}" class='btn btn-info' style="margin-top:5px; margin-bottom:5px"><i class="fas fa-edit"></i></a>
                                            <!-- BTN ELIMINAR -->
                                            <form action="{% url 'deleteUsuario' administrador.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')" margin="2px"> <i class="fas fa-times-circle"></i> </button>
                                            </form>
                                        </center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div> 
                    
                    
            </div>
        </div>
    </div>
</div>
{% endblock %}