{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">Menu Para Administrador</h1>
    <h1 class="pull-right">
    </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                  <div class="col-md-12">
                    
                    
                    
            </div>
        </div>
    </div>
</div>
{% endblock %}