{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %} ">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'web/css/estilos.css' %}">
  </head>

  <body>
    <div calss= "container">
        <br>
        <div class="row"class="row">
            <div class="col"></div>
            <div class="col">           
                <ul class="nav justify-content-center" >
                    <img src="{% static 'web/img/Logo1.png' %}" >
                </ul>                 
            </div> 
            <div class="col"></div>
        </div>
        
      </div>
    

    
  <script src="{% static 'web/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'web/js/popper.js' %}"></script>
  <script src="{% static 'web/js/bootstrap.js' %}"></script>

  </body>
</html>