
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'dist/css/estilos.css' %}">

    <script type="module" src="{% static 'funciones/config.js' %}" crossorigin="firebaseConfig"></script>

    <title>Login</title>
  </head>

  <body>
    <div class="container p-3 my-3 border">
        <div class="row">
          <div class="col">          
            <img src="{% static 'dist/img/cesfam.png' %}" width="100" alt="100">
            <h6>Centros de Salud Familiar</h6>    
          </div>
        </div>

        <br>
        <div class="row align-items-stretch">
          <div class="col-3 d-none d-lg-block">
            <br>
            <br>
            <br>
            <br>
            <ul class="foto">
              <img src="{% static 'dist/img/login.png' %}" width="200" alt="200" >
            </ul>            
              
          </div>
            
          <div class="col-9 p-5">
            <h2 class="fw-bold text-center">Inicio sesión usuarios CESFAM</h2>

            <!-- Login -->
            <div class="form-mb-6 ">
              <form action="javascript:loginMail()">
                  <!-- Correo -->
                  <label class="form-label" >Correo</label>
                  <input type="email" name="email" class="form-control" id="emailUsuario" placeholder="correo" required multiple>
                  <div class="invalid-feedback" id="rut" ></div>
                  <br>
                  <!-- Contraseña -->
                  <label class="form-label" >Contraseña</label>
                  <input type="password" name="contrasena" class="form-control" id="passwordUsuario" placeholder="contraseña" required multiple>
                  <div class="invalid-feedback" id="password" ></div>
                  <br>
                  <br>
                  <!-- Btn login -->
                  <div>
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                  </div>
              </form>
            </div>
            <br>
            <br>                       
          </div>
        </div>
        
        
        
      </div>    
  <script src="{% static 'dist/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'dist/js/popper.js' %}"></script>
  <script src="{% static 'dist/js/bootstrap.js' %}"></script>
  <script src="{% static 'dist/js/validaciones.js' %}"></script>
  <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-firestore-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-auth-compat.js"></script>
  <script type="module" src="{% static 'funciones/config.js' %}"></script>
  <script type="text/javascript">    
    // LOG IN
    function loginMail(){
        import(`../../static/funciones/config.js`).then((data) => {
            // Configuración credenciales acceso
            const firebaseApp = firebase.initializeApp(data.firebaseConfig);
            const db = firebaseApp.firestore();
            const auth = firebaseApp.auth();
        
            // Datos de entrada
            const email = document.getElementById('emailUsuario').value;
            const password = document.getElementById('passwordUsuario').value;

            // Login
            firebase.auth().signInWithEmailAndPassword(email, password)
            .then((userCredential) => {
                // Signed in
                var user = userCredential.user;
                console.log('¡SESIÓN INICIADA!');
                // Obtener datos del usuario
                // Redireccionar a la vista correspondiente
                $.ajax({
                  type:'GET',
                  url:'/getUser/'+user.uid,
                  success: function(data) {
                    var d = data.split('/')
                    window.location.href = d[0]+"/index/"
                  }
              });
            })
            .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                console.log('ERROR: código: ', errorCode);
                console.log('ERROR: mensaje: ', errorMessage);
                // Mostrar mensaje de error de credenciales
                // ...
            });
        });
    }

    // Obtener datos del usuario
    async function getUsuario(uid) {
        console.log('Inside of myfunction');

        $.ajax({
          url: "https://us-central1-automed-cl.cloudfunctions.net/webApi/usuario/"+uid,
          type: "GET",
          crossDomain: true,
          dataType: "application/json",
          success: function (response) {
              var resp = JSON.parse(response)
              alert(resp.status);
          },
          error: function (xhr, status) {
              alert("error");
          }
      });



      {% comment %}var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        var requestOptions = {
          method: 'GET',
          headers: myHeaders,
          redirect: 'follow',
          mode: 'no-cors'
        };
         let response = await fetch("https://us-central1-automed-cl.cloudfunctions.net/webApi/usuario/"+uid, requestOptions);
        if (response.ok) { // if HTTP-status is 200-299
          // get the response body (the method explained below)
          let json = await response.json();
        } else {
          alert("HTTP-Error: " + response.status + response.json());
        }
        fetch("https://us-central1-automed-cl.cloudfunctions.net/webApi/usuario/"+uid, requestOptions)
        .then(response => {
          console.log('corecto?')
          console.log('status:'+response.response)
        })
        .then(result => {
          console.log('corecto2?')
          console.log('resultado: '+result)
        })
        .catch(error => {
          console.log('incorrecto?')
          console.log('error', error)
        });{% endcomment %}
    }

    function start(uid) {
      return getUsuario(uid);
    }
     
    

  </script>
  </body>
</html>


