{% extends "web/index.html" %}
{% block content %}

<section class="content-header">
    <h1 class="pull-left">Agregar Medicamento</h1>
    <h1 class="pull-right">
    </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                  <div class="col-md-12">

                    <form action="/postNewMedicamento/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <label for="nombre_medicamento" class="control-label">Nombre</label>
                                <input id="nombre_medicamento" class="form-control" required maxlength="100" name="nombre_medicamento" type="text">
                            </div>
                            <div class="col-md-4">
                                <label for="codigo_medicamento" class="control-label">Código</label>
                                <input id="codigo_medicamento" class="form-control" required maxlength="100" name="codigo_medicamento" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="descripcion_medicamento" class="control-label">Descripción</label>
                                <input id="descripcion_medicamento" class="form-control" required maxlength="100" name="descripcion_medicamento" type="text">
                            </div>
                            <div class="col-md-4">
                                <label for="fabricante_medicamento" class="control-label">Fabricante</label>
                                <input id="fabricante_medicamento" class="form-control" required maxlength="100" name="fabricante_medicamento" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="contenido_medicamento" class="control-label">Contenido</label>
                                <input id="contenido_medicamento" class="form-control" required maxlength="100" name="contenido_medicamento" type="text">
                            </div>
                            <div class="col-md-4">
                                <label for="cantidad_medicamento" class="control-label">Cantidad</label>
                                <input id="cantidad_medicamento" class="form-control" required maxlength="100" name="cantidad_medicamento" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="gramaje_medicamento" class="control-label">Gramaje</label>
                                <input id="gramaje_medicamento" class="form-control" required maxlength="100" name="gramaje_medicamento" type="text">
                            </div>
                            <div class="col-md-4">
                                <label for="stock_medicamento" class="control-label">Stock</label>
                                <input id="stock_medicamento" class="form-control" required maxlength="100" name="stock_medicamento" type="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="gramaje_medicamento" class="control-label">ID Centro médico</label>
                                <input id="gramaje_medicamento" class="form-control" required maxlength="100" name="id_centro_medico_medicamento" type="text">
                                
                            </div>
                        </div>
                        <div class="form-group col-sm-12" style="margin-top: 10px;">
                            <input class="btn btn-primary" type="submit" value="Guardar"  name="postNewMedicamentoForm" maxlength="1000" required id="id_postNewMedicamentoForm">
                            <a href="#" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-auth-compat.js"></script>
    <script type="text/javascript">   
        
        import(`../../static/funciones/config.js`).then((data) => {
            console.log('iniciando...')
            // Configuración credenciales acceso
            const firebaseApp = firebase.initializeApp(data.firebaseConfig);
            const db = firebaseApp.firestore();        
            const user = firebase.auth().currentUser;
            if (user) {
                // User is signed in, see docs for a list of available properties
                // https://firebase.google.com/docs/reference/js/firebase.User
                // ...
                console.log(user);
            } else {
                window.location.href = "/login"
            }

            // Login
            firebase.auth().signInWithEmailAndPassword(email, password)
            .then((userCredential) => {
                // Signed in
                var user = userCredential.user;
                console.log('¡SESIÓN INICIADA!');
                // Obtener datos del usuario
                // Redireccionar a la vista correspondiente
                $.ajax({
                  type:'GET',
                  url:'/getUser_idCentroAtencion/'+user.uid,
                  success: function(data) {                                                     
                      console.log(data);
                  }
              });
            })
            .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                console.log('ERROR: código: ', errorCode);
                console.log('ERROR: mensaje: ', errorMessage);
                // Mostrar mensaje de error de credenciales
                // ...
            });
        });
        
        // LOG IN
        function getIdCentroAtencion(){
            console.log('iniciando getIdCentroAtencion()')
            import(`../../static/funciones/config.js`).then((data) => {
                // Configuración credenciales acceso
                const firebaseApp = firebase.initializeApp(data.firebaseConfig);
                const db = firebaseApp.firestore();
                const auth = firebaseApp.auth();
            
                // Datos de entrada
                const email = document.getElementById('emailUsuario').value;
                const password = document.getElementById('passwordUsuario').value;
    
                // Login
                firebase.auth().signInWithEmailAndPassword(email, password)
                .then((userCredential) => {
                    // Signed in
                    var user = userCredential.user;
                    console.log('¡SESIÓN INICIADA!');
                    // Obtener datos del usuario
                    // Redireccionar a la vista correspondiente
                    $.ajax({
                      type:'GET',
                      url:'/getUser_idCentroAtencion/'+user.uid,
                      success: function(data) {                                                     
                          console.log(data);
                      }
                  });
                })
                .catch((error) => {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    console.log('ERROR: código: ', errorCode);
                    console.log('ERROR: mensaje: ', errorMessage);
                    // Mostrar mensaje de error de credenciales
                    // ...
                });
            });
        }
    </script>
    <script type="text/javascript">
        document.onload = getIdCentroAtencion()
        $(document).ready(function() {
            console.log("DOCUMENTO CARGADO, EJECUTANDO...")
            getIdCentroAtencion()
        });
        $(function() {
            console.log("DOCUMENTO2 CARGADO, EJECUTANDO...")
            getIdCentroAtencion()
        });
        window.addEventListener("DOMContentLoaded", function(event) {
            console.log("DOCUMENTO3 CARGADO, EJECUTANDO...")
            getIdCentroAtencion()
        });
    </script>
{% endblock %}