{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">Medicamentos</h1>
    <h1 class="pull-right" align="right">
        <a class="btn btn-primary pull-right" style="margin-top: -10px;margin-bottom: 5px" href="{% url 'medicamentos_add' userType=userType %}">Agregar</a>
     </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <!-- ENCABEZADO TABLA -->
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Fabricante</th>
                                    <th>Contenido</th>
                                    <th>Cantidad</th>
                                    <th>Gramaje</th>
                                    <th>Stock</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            
                            <!-- CUERPO TABLA -->
                            <tbody>
                                {%for medicamento in medicamentos %}
                                <tr>
                                    <td>{{prescripcion.nombre}}</td>
                                    <td>{{prescripcion.codigo}}</td>
                                    <td>{{prescripcion.descripcion}}</td>
                                    <td>{{prescripcion.fabricante}}</td>
                                    <td>{{prescripcion.contenido}}</td>
                                    <td>{{prescripcion.cantidad}}</td>
                                    <td>{{prescripcion.gramos}}</td>
                                    <td>{{prescripcion.stock}}</td>
                                    <td>
                                        <center>
                                            <!-- BTN EDITAR -->
                                            <a href="{% url 'medicamentos_edit' userType medicamento.id %}" class='btn btn-info' style="margin-top:5px; margin-bottom:5px"><i class="fas fa-edit"></i></a>
                                            <!-- BTN ELIMINAR -->
                                            <form action="{% url 'deleteMedicamento' medicamento.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')" margin="2px"> <i class="fas fa-times-circle"></i> </button>
                                            </form>
                                        </center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function deleteMedicamento(id){
        
        console.log('Iniciando delete de: '+id);

        import(`../../static/funciones/medicamentos.js`).then((data) => {
            data.deleteMedicamento(id);
        });
    }

</script>

{% endblock %}