{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">Medicamentos</h1>
    <h1 class="pull-right" align="right">
        <a class="btn btn-primary pull-right" style="margin-top: -10px;margin-bottom: 5px" href="{% url 'medicamentos_add' %}">Agregar</a>
     </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Fabricante</th>
                                    <th>Contenido</th>
                                    <th>Cantidad</th>
                                    <th>Gramaje</th>
                                    <th>Stock</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nombre1</td>
                                    <td>Código1</td>
                                    <td>Descripción1</td>
                                    <td>Fabricante1</td>
                                    <td>Contenido1</td>
                                    <td>Cantidad1</td>
                                    <td>Gramaje1</td>
                                    <td>Stock1</td>
                                    <td>
                                        <a href="#" class='btn btn-info'><i class="fas fa-edit"></i></a>
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')"> <i class="fas fa-times-circle"></i> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nombre2</td>
                                    <td>Código2</td>
                                    <td>Descripción2</td>
                                    <td>Fabricante2</td>
                                    <td>Contenido2</td>
                                    <td>Cantidad2</td>
                                    <td>Gramaje2</td>
                                    <td>Stock2</td>
                                    <td>
                                        <a href="#" class='btn btn-info'><i class="fas fa-edit"></i></a>
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')"> <i class="fas fa-times-circle"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}