{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">Pacientes</h1>
    <h1 class="pull-right" align="right">
        <a class="btn btn-primary pull-right" style="margin-top: -10px;margin-bottom: 5px" href="{% url 'pacientes_add' %}">Nuevo</a>
     </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Color Cif</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for paciente in pacientes %}
                                <tr>
                                    <td>{{paciente.rut}}</td>
                                    <td>{{paciente.nombre}}</td>
                                    <td>{{paciente.apaterno}} {{paciente.amaterno}}</td>
                                    <td>{{paciente.fechan}}</td>
                                    <td>{{paciente.correo}}</td>
                                    <td>{{paciente.telefono}}</td>
                                    <td>{{paciente.color_cif}}</td>
                                    <td>
                                        <center>
                                            <!-- BTN EDITAR -->
                                            <a href="{% url 'login' %}" class='btn btn-info' style="margin-top:5px; margin-bottom:5px"><i class="fas fa-edit"></i></a>
                                            <!-- BTN ELIMINAR -->
                                            <form action="{% url 'login' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')" margin="2px"> <i class="fas fa-times-circle"></i> </button>
                                            </form>
                                        </center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}