{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">Pacientes</h1>
    <h1 class="pull-right" align="right">
        <a class="btn btn-primary pull-right" style="margin-top: -10px;margin-bottom: 5px" href="{% url 'pacientes_add' %}">Agregar</a>
     </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Notificación Correo</th>
                                    <th>Notificación Whatsapp</th>
                                    <th>Color Cif</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>11.111.111-9</td>
                                    <td>Nombre1</td>
                                    <td>Apaterno1</td>
                                    <td>Amaterno1</td>
                                    <td>01-01-1991</td>
                                    <td>correo@correo.cl</td>
                                    <td>+569-12345678</td>
                                    <td>true</td>
                                    <td>true</td>
                                    <td>Azul</td>
                                    <td>
                                        <a href="#" class='btn btn-info'><i class="fas fa-edit"></i></a>
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')"> <i class="fas fa-times-circle"></i> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>22.222.222-9</td>
                                    <td>Nombre2</td>
                                    <td>Apaterno2</td>
                                    <td>Amaterno2</td>
                                    <td>02-02-1992</td>
                                    <td>correo2@correo.cl</td>
                                    <td>+569-87654321</td>
                                    <td>false</td>
                                    <td>false</td>
                                    <td>verde</td>
                                    <td>
                                        <a href="#" class='btn btn-info'><i class="fas fa-edit"></i></a>
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')"> <i class="fas fa-times-circle"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}