{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">{{usuario.nombre}} {{usuario.apaterno}} {{usuario.amaterno}}</h1>
    <h1 class="pull-right">
    </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Row 1 Data 1</td>
                                    <td>Row 1 Data 2</td>
                                </tr>
                                <tr>
                                    <td>Row 2 Data 1</td>
                                    <td>Row 2 Data 2</td>
                                </tr>
                            </tbody>
                        </table>

                    </div> 
                    
                    
            </div>
        </div>
    </div>
</div>
{% endblock %}