{% extends "web/index.html" %}
{% block content %}

<section class="content-header">
    <h1 class="pull-left">Nueva Prescripción</h1>
    <h1 class="pull-right">
    <h4 class="pull-left">Añadir Medicamentos</h4>
    <h4 class="pull-right"></h4>
    </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">
              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <!-- ENCABEZADO TABLA -->
                            <thead>
                                <tr>
                                    <th>En Receta</th>
                                    <th>Nombre</th>
                                    <th>Fabricante</th>
                                    <th>Contenido</th>
                                    <th>Cantidad</th>
                                    <th>Gramaje</th>
                                </tr>
                            </thead>
                            
                            <!-- CUERPO TABLA -->
                            <tbody>
                                {%for medicamento in medicamentos %}
                                <tr>
                                    <center>
                                        <td>
                                            <input type="checkbox" id="checkbox" onchange="addMedicamento('{{medicamento.id}}')" color: transparent;></input>
                                        </td>
                                    </center>
                                    <td>{{medicamento.nombre}}</td>
                                    <td>{{medicamento.fabricante}}</td>
                                    <td>{{medicamento.contenido}}</td>
                                    <td>{{medicamento.cantidad}}</td>
                                    <td>{{medicamento.gramaje}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="form-group col-sm-12" style="margin-top: 10px;">
                            <button onclick="createPrescripcion('{{userType}}')" class="btn btn-primary">Crear Prescripción</button>
                            <button onclick="deletePrescripcion('{{idPost}}')" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var medicamentos = []
    function addMedicamento(id){
        console.log(id);
        if(medicamentos.includes(id)){
            // TIENE EL MEDICAMENTO ALMACENADO
            // SE DEBE QUITAR
            for( var i = 0; i < medicamentos.length; i++){ 
                if ( medicamentos[i] === id) { 
                    medicamentos.splice(i, 1);
                    console.log(medicamentos);
                    return;
                }
            }
        }else{
            // NO TIENE EL MEDICAMENTO ALMACENADO
            // SE AGREGA
            medicamentos.push(id);
            console.log(medicamentos);
        }
    }

    function createPrescripcion(userType, ){
        if(medicamentos.length !=0){
            console.log('Creando...');

            {% comment %} var myJsonString = JSON.stringify(medicamentos);
            console.log(myJsonString); {% endcomment %}

            {% comment %} var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify(medicamentos);

            var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch("https://us-central1-automed-cl.cloudfunctions.net/webApi/prescipcion-m/"+id, requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error)); {% endcomment %}

            var PAGE_URL = "{% url 'index' userType 'zcK99QFm6AXGkEB3LX30YqFLeTP2' %}"
            window.location.replace(PAGE_URL)
        }
    }

    function deletePrescripcion(idPost){
        console.log('Eliminando...'+idPost);
    }
</script>
{% endblock %}