{% extends "web/index.html" %}
{% block content %}

<section class="content-header">
    <h1 class="pull-left">Nueva Prescripción</h1>
    <h1 class="pull-right">
    <h5 class="pull-left">Añadir Medicamentos</h5>
    <h4 class="pull-right"></h4>
    </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                        <!-- ENCABEZADO TABLA -->
                        <thead>
                            <tr>
                                <th>En Receta</th>
                                <th>Nombre</th>
                                <th>Fabricante</th>
                                <th>Contenido</th>
                                <th>Cantidad</th>
                                <th>Gramaje</th>
                            </tr>
                        </thead>
                        
                        <!-- CUERPO TABLA -->
                        <tbody>
                            {%for medicamento in medicamentos %}
                            <tr>
                                <center>
                                    <td>
                                        <input type="checkbox" id="checkbox" onchange="addMedicamento('{{medicamento.id}}')" color: transparent;></input>
                                    </td>
                                </center>
                                <td>{{medicamento.nombre}}</td>
                                <td>{{medicamento.fabricante}}</td>
                                <td>{{medicamento.contenido}}</td>
                                <td>{{medicamento.cantidad}}</td>
                                <td>{{medicamento.gramaje}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                        <div class="form-group col-sm-12" style="margin-top: 10px;">
                            <button onclick="createPrescripcion('{{idPost}}')" class="btn btn-primary">Crear Prescripción</button>
                            <button onclick="deletePrescripcion('{{idPost}}')" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>

                    {% comment %} <div class="col-md-4">
                        <div class="form-group col-sm-4" style="margin-top: 10px;">
                            <h4 class="pull-left">Medicamentos añadidos</h4>
                            <h4 class="pull-right"></h4>
                        </div>
                        <div class="col-md-4">
                            <table id="table_id" class="display">
                            <!-- ENCABEZADO TABLA -->
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            
                            <!-- CUERPO TABLA -->
                            <tbody>
                                {%for medicamento in medicamentos %}
                                <tr>
                                    <td>{{medicamento.nombre}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                            <div class="form-group col-sm-4" style="margin-top: 10px;">
                                <button onclick="createPrescripcion('{{userType}}')" class="btn btn-primary">Crear Prescripción</button>
                                <button onclick="deletePrescripcion('{{idPost}}')" class="btn btn-danger">Cancelar</button>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var medicamentos = []
    function addMedicamento(id){
        console.log(id);
        if(medicamentos.includes(id)){
            // TIENE EL MEDICAMENTO ALMACENADO
            // SE DEBE QUITAR
            for( var i = 0; i < medicamentos.length; i++){ 
                if ( medicamentos[i] === id) { 
                    medicamentos.splice(i, 1);
                    console.log(medicamentos);
                    return;
                }
            }
        }else{
            // NO TIENE EL MEDICAMENTO ALMACENADO
            // SE AGREGA
            medicamentos.push(id);
            console.log(medicamentos);
        }
    }

    function createPrescripcion(idPost){
        if(medicamentos.length !=0){
            console.log('Creando...');
            console.log(medicamentos);
            // Convertir a params para url
            // Formato: [medicamentos]&[medicamentos] 
            var params = ""
            medicamentos.forEach((medicamento) => {
                console.log(medicamento);
                if(params == ""){
                    params = ""+medicamento+"=1"
                }else{
                    params = params+"&"+medicamento+"=1"
                }
            })

            $.ajax({
                type:'GET',
                url:'/postNewPrescripcionMedicamentos/'+idPost+'/'+params,
                success: function(data) {               
                    if(data == "true"){
                        var PAGE_URL = "{% url 'index' userType 'zcK99QFm6AXGkEB3LX30YqFLeTP2' %}"
                        window.location.replace(PAGE_URL)
                    }
                }
            });
        }
    }

    function deletePrescripcion(idPost){
        medicamentos = null;
        console.log('Eliminando...'+idPost);
    }
</script>
{% endblock %}