{% extends "web/index.html" %}
{% block content %}
<section class="content-header">
    <h1 class="pull-left">Prescripciones</h1>
    <h1 class="pull-right" align="right">
        <a class="btn btn-primary pull-right" style="margin-top: -10px;margin-bottom: 5px" href="{% url 'prescripciones_add' userType %}">Agregar</a>
    </h1>
</section>
<div class="content">
    <div class="content">
        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">

              <div class="row">
                    <div class="col-md-12">
                        <table id="table_id" class="display">
                            <!-- ENCABEZADO -->
                            <thead>
                                <tr>
                                    <th>Rut Paciente</th>
                                    <th>Medicamentos</th>
                                    <th>Descripción</th>
                                    <th>Duración Tratamiento</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>

                            <!-- CUERPO TABLA -->
                            <tbody>
                                {%for prescripcion in prescripciones %}
                                <tr>
                                    <td>{{prescripcion.rutPaciente}}</td>
                                    <td>
                                        <!-- BTN MEDICAMENTOS -->
                                        <a href="#" class='btn btn-info' style="margin-top:5px; margin-bottom:5px"><i class="fa-solid fa-eye"></i>VER</a>
                                    </td>
                                    <td>{{prescripcion.descripcion}}</td>
                                    <td>{{prescripcion.duracionTratamiento}}</td>
                                    <td>
                                        <center>
                                            {% if userType == 'farmaceutico' %}
                                            <!-- BTN ENTREGAR -->
                                            <a href="#" class='btn btn-info' style="margin-top:5px; margin-bottom:5px"><i class="fa-solid fa-check"></i></a>
                                            <!-- BTN ELIMINAR -->
                                            <form action="#" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estas seguro que deseas eliminar el registro?')" margin="2px"> <i class="fa-solid fa-xmark"></i> </button>
                                            </form>
                                            {% endif %}
                                        </center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}