{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TEST</title>
  </head>

  <body>
    <div class="container p-3 my-3 border">

        <!-- Login -->
        <form method="post">
            <!-- Correo -->
            <div class="form-mb-6">
                <label for="correo_login"><span class="red">* </span>Correo</label>
                <input type="email" name="email" id="correo_login" class="form-control" placeholder="Correo" required multiple>
            </div>

            <!-- Contraseña -->
            <div class="form-mb-6">
                <label for="contrasena_login"><span class="red">* </span>Contraseña</label>
                <input type="password" name="contrasena" id="contrasena_login" class="form-control" placeholder="Contraseña" required multiple>
            </div>

            <!-- Btn login -->
            <div>
                <button type="submit" class="btn btn-primary btn-block" onclick="loginMail()">INICIAR</button>
            </div>

        </form>
        
        <form id="form1"> 
          <div class="form-mb-6 ">
            <label class="form-label"><span class="red">* </span>Email</label>
            <input type="email" name="email" class="form-control" id="emailUsuario" placeholder="Correo" required multiple>
            <div class="invalid-feedback" id="email" ></div>
          </div>
          <br>
          <div class="form-mb-6">
            <label class="form-label"><span class="red">* </span>Contraseña</label>
            <input type="password" class="form-control" id="passwordUsuario" placeholder="Contraseña" required multiple>
            <div class="invalid-feedback" id="password" ></div>
            <br>
          </div>
          <br>
          <div>
            <button type="button" class="btn btn-primary btn-block" onlick="loginMal()">Entrar</button>
          </div>
          <br>
        </form>


        <button onclick="loginMail()">LOGIN</button>
        <button onclick="logout()">LOGOUT</button>
        <button href="{% url 'getCentros' %}" class="btn btn-primary">GET CENTROS</button>
        
    </div>    

    <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.7.0/firebase-auth-compat.js"></script>
    <script>
      //import { firebaseConfig } from 'web/static/js/config.js'

      // Configuración credenciales acceso
      const firebaseApp = firebase.initializeApp({ 
        apiKey: "AIzaSyAXP_MEtzVz6-mEyfjXt0Z-OIEOcSXqDYs",
        authDomain: "automed-cl.firebaseapp.com",
        projectId: "automed-cl",
        storageBucket: "automed-cl.appspot.com",
        messagingSenderId: "509880148775",
        appId: "1:509880148775:web:4e2309ac39885f7829ff02",
        measurementId: "G-GYY8CEF4NW"
    });
      const db = firebaseApp.firestore();
      const auth = firebaseApp.auth();
      
      // LOG IN
      function loginMail(){
          console.log('Iniciando login...');
      
          // Datos de entrada
          const email = document.getElementById('emailUsuario').value
          const password = document.getElementById('passwordUsuario').value
      
          console.log(email, password);
      
          firebase.auth().signInWithEmailAndPassword(email, password)
          .then((userCredential) => {
              // Signed in
              var user = userCredential.user;
              console.log('¡SESIÓN INICIADA!');
              console.log(user);
              // Redireccionamiento a la nueva vista
              // ...
          })
          .catch((error) => {
              var errorCode = error.code;
              var errorMessage = error.message;
              console.log('ERROR: código: ', errorCode);
              console.log('ERROR: mensaje: ', errorMessage);
          });
      }
    </script>
  </body>
</html>