{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TEST</title>
  </head>

  <body>
    <div class="container p-3 my-3 border">

        <!-- Login -->
        <form method="post">
            <!-- Correo -->
            <div class="form-mb-6">
                <label for="correo_login"><span class="red">* </span>Correo</label>
                <input type="email" name="email" id="correo_login" class="form-control" placeholder="Correo" required multiple>
            </div>

            <!-- Contraseña -->
            <div class="form-mb-6">
                <label for="contrasena_login"><span class="red">* </span>Contraseña</label>
                <input type="password" name="contrasena" id="contrasena_login" class="form-control" placeholder="Contraseña" required multiple>
            </div>

            <!-- Btn login -->
            <div>
                <button type="submit" class="btn btn-primary btn-block" onclick="loginMail(email, contrasena)">INICIAR</button>
            </div>

        </form>
        
        <form id="form1"> 
          <div class="form-mb-6 ">
            <label class="form-label"><span class="red">* </span>Email</label>
            <input type="email" name="email" class="form-control" id="emailUsuario" placeholder="Correo" required multiple>
            <div class="invalid-feedback" id="email" ></div>
          </div>
          <br>
          <div class="form-mb-6">
            <label class="form-label"><span class="red">* </span>Contraseña</label>
            <input type="password" class="form-control" id="passwordUsuario" placeholder="Contraseña" required multiple>
            <div class="invalid-feedback" id="password" ></div>
            <br>
          </div>
          <br>
          <div>
            <button type="button" class="btn btn-primary btn-block"onlick="loginMail()">Entrar</button>
          </div>
          <br>
        </form>


        <button onclick="loginMail('weasplaya@gmail.com', '123456')">LOGIN</button>
        <button onclick="logout()">LOGOUT</button>
        <button href="{% url 'getCentros' %}" class="btn btn-primary">GET CENTROS</button>
        
    </div>    

    <script src="{% static 'js/auth.js' %}"></script>
    <script src="../static/js/auth.js"></script>
    <script type="module"src="{% static 'web/js/FuncionesHTTP/medicamentos.js' %}"></script>
    <script type="module" src="{% static 'web/js/FuncionesHTTP/config.js' %}"></script>
  
  </body>
</html>